# --- Python ---
__pycache__/
*.py[cod]
.venv/
venv/

# --- Operating System ---
.DS_Store
Thumbs.db

# --- Unreal Engine Project Root ---
RoboSimUE/Binaries/
RoboSimUE/Intermediate/
RoboSimUE/Saved/
RoboSimUE/DerivedDataCache/
RoboSimUE/Build/

# --- Plugin Specific ---
RoboSimUE/Plugins/*/Binaries/
RoboSimUE/Plugins/*/Intermediate/

# --- Visual Studio / IDE ---
.vs/
*.sln
*.VC.db
*.opensdf
*.opendb
*.sdf
*.suo

# Ignore MuJoCo generated debug files
debug_world.xml

*.png
backend/assets/

*.log